
/.vs
/bin
/obj
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ShutOffAtNight.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ShutOffAtNight.pdb
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/pri.resfiles
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/pri.resfiles.intermediate
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ProjectArchitectures.txt
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ref/ShutOffAtNight.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/refint/ShutOffAtNight.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.pdb
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
obj/Release/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
obj/Release/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ShutOffAtNight.dll
obj/Release/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ShutOffAtNight.pdb
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ref/ShutOffAtNight.dll
obj/Release/net8.0-windows10.0.19041.0/win10-x64/refint/ShutOffAtNight.dll
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.AssemblyInfo.cs
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.AssemblyInfoInputs.cache
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.csproj.FileListAbsolute.txt
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.dll
obj/Release/net8.0-windows10.0.19041.0/win10-x64/ShutOffAtNight.pdb
obj/Release/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
